extends layout

block content
  div.content
    div.hero-unit.player
      iframe(width="420px", height="315px", frameborder="0", src="")
    div.hero-unit.chat
      p this is the chat
      ul.messages
      input(type="text")
      input(type="submit")